.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}

.footer__copyright {
  @media (min-width: $tablet) {
    margin-right: 30px;
  }

  @media (min-width: $desktop) {
    margin-right: 120px;
  }
}

.copyright__text {
  margin-right: 12px;
  display: inline-block;
  color: $black;
  text-transform: uppercase;
}

.copyright:hover .copyright__text {
  visibility: hidden;
}

.copyright:hover .copyright__image {
  fill: $primary-color;
}

.copyright:active .copyright__text {
  visibility: hidden;
}

.copyright:active .copyright__image {
  fill: rgba($color: $black, $alpha: 0.3);
}
