.socials {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    margin-left: 112px;
    margin-right: 123px;
  }

  @media (min-width: $desktop) {
    margin-left: 269px;
    margin-right: 278px;
  }
}

.socials__item {
  &:not(:last-child) {
    margin-right: 6px;
  }
}

.social__link {
  width: 46px;
  height: 48px;
  background-color: $primary-color;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-active;
    color: rgba($color: $white, $alpha: 0.3);
  }
}

.social__link:active .social__image {
  opacity: 0.3;
}
