.photos {
  margin: 0;
  padding: 0;
  padding-top: 22px;
  border-bottom: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
  list-style-type: none;

  @media (min-width: $tablet) {
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(3, 1fr);
    max-width: 1200px;
  }
}

.catalog__photos {
  margin-bottom: 32px;

  @media (min-width: $tablet) {
    margin: 0 60px;
    margin-bottom: 59px;
  }

  @media (min-width: $desktop) {
    margin: 0 auto;
    margin-bottom: 63px;
  }
}

.photo {
  position: relative;
  padding: 0 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #e5e5e5;

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
  }
}

.photo:not(:first-child) {
  padding-top: 22px;

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
  }
}

.photo:first-child {
  @media (min-width: $tablet) {
    grid-column: 1/3;
  }

  @media (min-width: $desktop) {
    grid-column: 1/4;
  }
}

.photo__wrapper {
  @media (min-width: $tablet) {
    display: grid;
    padding: 16px 20px;
    padding-right: 29px;
    background-color: #f2f2f2;
  }

  @media (min-width: $desktop) {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba($color: $black, $alpha: 0.3);
  }
}

.photo .photo__image {
  @media (min-width: $tablet) {
    height: 267px;
    margin: 0;
  }
}

.photo:first-child .photo__wrapper {
  @media (min-width: $tablet) {
    padding-right: 20px;
  }
}

.photo:first-child .photo__image {
  @media (min-width: $tablet) {
    min-height: 400px;
  }
}

.photo:nth-child(3) .photo__wrapper {
  @media (min-width: $tablet) {
    padding-right: 36px;
    background-color: #eaeaea;
  }

  @media (min-width: $desktop) {
    background-color: rgba($color: $black, $alpha: 0.3);
  }
}

.photo__image {
  width: 100%;
  margin-bottom: 11px;
  display: block;

  @media (min-width: $tablet) {
    position: relative;
  }
}

.photo__name {
  margin: 0;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    color: $white;
  }
}

.photo__author {
  margin: 0;
  margin-bottom: 13px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;

  @media (min-width: $tablet) {
    grid-column: 1/2;
    margin-bottom: 0;
  }

  @media (min-width: $desktop) {
    color: $white;
  }
}

.photo__likes {
  position: relative;
  display: inline-block;
  padding-left: 37px;
  background: transparent url("../../../images/decorative/like.svg") no-repeat 0 -1px;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;

  @media (min-width: $tablet) {
    margin-left: 0;
    padding-left: 32px;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: end;
  }

  @media (min-width: $desktop) {
    color: $white;
    background: transparent url("../../../images/decorative/like-white.svg") no-repeat;
  }
}
