.video__player {
  margin: 0 auto;
}

.player {
  position: relative;
  width: 320px;

  @media (min-width: $tablet) {
    width: 648px;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.player__time-button {
  position: absolute;
  top: 18px;
  left: 58px;
  width: 9px;
  height: 9px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $white;

  @media (min-width: $tablet) {
    top: -3px;
    left: 113px;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.player__img {
  position: relative;
  display: block;

  @media (min-width: $tablet) {
    width: 648px;
    min-height: 500px;
  }

  @media (min-width: $desktop) {
    width: 800px;
  }
}

.player__panel {
  margin: 0 20px;
  margin-top: -2px;
  padding: 16px 13px;
  padding-bottom: 13px;
  display: flex;
  background-color: #f2f2f2;
}

.player__button {
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
}

.player__button--replay {
  margin-right: 115px;

  @media (min-width: $tablet) {
    margin-left: 23px;
    margin-right: 30px;
  }
}

.player__button--subtitles {
  margin-right: auto;

  @media (min-width: $tablet) {
    margin-right: 17px;
  }
}

