.catalog {
  margin-top: -28px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.catalog__promo {
  min-height: 158px;
  margin-bottom: 32px;
  background:
    url('../../images/decorative/intro-triangle-tablet.svg') no-repeat 50% bottom,
    url('../../images/decorative/sedona-mobile.svg') no-repeat 50% 52px,
    url('../../images/decorative/mountains-catalog-tablet.jpg') no-repeat 50% 50%;

  @media (min-width: $tablet) {
    min-height: 291px;
    margin-bottom: 62px;
    background:
    url("../../images/decorative/intro-triangle-tablet.svg") no-repeat 50% bottom,
    url("../../images/decorative/sedona-tablet.svg") no-repeat 50% 95px,
    url("../../images/decorative/mountains-catalog-tablet.jpg") no-repeat 50% -67px
  }

  @media (min-width: $desktop) {
    min-height: 301px;
    margin-bottom: 102px;
    background:
    url("../../images/decorative/intro-triangle-tablet.svg") no-repeat 50% bottom,
    url("../../images/decorative/text-sedona.svg") no-repeat 50% 101px,
    url("../../images/decorative/mountains-catalog-tablet.jpg") no-repeat 50% -56px
  }
}

.catalog__heading {
  margin: 0;
  margin-bottom: 28px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 30px;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 31px;
  }
}

.catalog__description {
  margin: 0 20px;
  margin-bottom: 31px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  br {
    display: none;
  }

  @media (min-width: $tablet) {
    margin: 0 170px;
    margin-bottom: 55px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 58px;

    br {
      display: inline;
    }
  }
}
