.catalog {
  margin-top: -28px;
}

.catalog__promo {
  min-height: 158px;
  margin-bottom: 32px;
  background:
    url('../../images/decorative/intro-triangle.svg') no-repeat 0px 102px,
    url('../../images/decorative/sedona-mobile.svg') no-repeat 45px 52px,
    url('../../images/decorative/back-catalog.jpg') no-repeat 0 -56px;
}

.catalog__heading {
  margin: 0;
  margin-bottom: 28px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.catalog__description {
  margin: 0 20px;
  margin-bottom: 31px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
