.video__control {

  @media (min-width: $tablet) {
    margin: 0 60px;
  }
}

.control {
  position: relative;
}

.control__time-button {
  position: absolute;
  top: 18px;
  left: 58px;
  width: 9px;
  height: 9px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: $white;

  @media (min-width: $tablet) {
    top: -3px;
    left: 113px;
  }
}

.control__img {
  position: relative;
  display: block;

  @media (min-width: $tablet) {
    min-width: 648px;
    min-height: 500px;
  }
}

.control__panel {
  margin: 0 20px;
  margin-top: -2px;
  padding: 16px 13px;
  padding-bottom: 13px;
  display: flex;
  background-color: #F2F2F2;
}

.control__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.control__button--replay {
  margin-right: 115px;

  @media (min-width: $tablet) {
    margin-right: 38px;
  }
}

.control__button--subtitles {
  margin-right: auto;

  @media (min-width: $tablet) {
    margin-right: 23px;
  }
}


