.video {
  margin-bottom: 49px;

  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 85px;
  }
}

.video__heading {
  margin: 0;
  margin-bottom: 28px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 30px;
    margin-bottom: 31px;
  }
}

.video__text {
  margin: 0;
  margin-bottom: 33px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  br:last-child {
    display: none;
  }

  @media (min-width: $tablet) {
    margin-bottom: 80px;
    padding: 0 155px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 78px;

    br:last-child {
      display: inline;
    }
  }
}

.video__player {
  position: relative;
}
