.video {
  margin-bottom: 79px;
}

.video__heading {
  margin: 0;
  margin-bottom: 26px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.video__text {
  margin: 0;
  margin-bottom: 33px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.video__control {
  position: relative;
}
