.nav {
  position: relative;
}

.nav__burger-menu,
.nav__menu {
  display: none;
}

.nav__main-link {
  margin-left: 89px;
}

.nav__logo {
  display: block;

  @media (min-width: $desktop) {
    width: 187px;
    height: 97px;
  }
}

.nav__button {
  position: absolute;
  top: 8px;
  right: -8px;
  width: 40px;
  height: 40px;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 23px;
    height: 4px;
    margin: auto;
    background-color: $primary-color;
    box-shadow: 0 -9px 0 0 $primary-color, 0 9px 0 0 $primary-color;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.nav__button--active {
  position: absolute;
  top: 10px;
  right: -12px;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: -4px;
    right: 6px;
    width: 27px;
    height: 3px;
    background-color: $white;
    box-shadow: none;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 17px;
    right: 9px;
    width: 27px;
    height: 3px;
    background-color: $white;
    transform: rotate(-45deg);
  }
}

