.page-body__main {
  margin-top: -28px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.main__promo {
  min-height: 389px;
  margin: 0 auto;
  margin-bottom: 32px;
  background:
    url('../../../images/decorative/intro-triangle-tablet.svg') 50% bottom no-repeat,
    url('../../../images/decorative/text-index.svg') 50% 90px no-repeat,
    url('../../../images/decorative/background-mountains.jpg') 50% -36px no-repeat;

    @media (min-resolution: 2dppx) {
      background:
      url('../../../images/decorative/intro-triangle-tablet.svg') 50% bottom no-repeat,
      url('../../../images/decorative/text-index.svg') 50% 90px no-repeat,
      url('../../../images/decorative/background-mountains@2x.jpg') 50% -36px / 1200px no-repeat;
    }

  @media (min-width: $tablet) {
    min-height: 518px;
    margin-bottom: 43.5px;
    background:
      url("../../../images/decorative/intro-triangle-tablet.svg") 50% bottom no-repeat,
      url("../../../images/decorative/text-index-tablet.svg") 50% 77px no-repeat,
      url("../../../images/decorative/background-mountains.jpg") 50% -1px no-repeat;

    @media (min-resolution: 2dppx) {
      background:
      url("../../../images/decorative/intro-triangle-tablet.svg") 50% bottom no-repeat,
      url("../../../images/decorative/text-index-tablet.svg") 50% 77px no-repeat,
      url("../../../images/decorative/background-mountains@2x.jpg") 50% -1px / 1200px no-repeat;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 55px;
  }
}

.main__heading {
  margin: 0;
  margin-bottom: 32px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 21px;
  }
}

@media (max-width: 767px) {
  .main__tablet {
    display: none;
  }
}

@media (min-width: $tablet) {
  .main__mobile {
    display: none;
  }
}

.main__description {
  margin: 0;
  margin-bottom: 27px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 52.5px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 41px;
  }
}
