.nav__burger-menu {
  @media (max-width: 767px) {
    display: flex;
  }
}

.nav__burger-menu .nav__list {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;

  &--active {
    position: absolute;
    top: 0;
    left: -20px;
    width: 320px;
    display: flex;
    flex-direction: column;
  }
}

.nav__burger-menu .nav__item:not(:first-child) .nav__link {
  box-shadow: 0px -1px 0px 0px #01010133, 0px 1px 0px 0px #FFFFFF33 inset;
}

.nav__burger-menu .nav__link {
  width: 320px;
  padding: 10px 0 5px;
  background-color: $primary-color;
  display: block;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: $white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $desktop) {
    width: 200px;
  }

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-active;
    color: rgba($color: $white, $alpha: 0.3);
  }
}
