@font-face {
  font-family: "PT Sans";
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src: local("PT Sans"), local("PT Sans Regular"), url("../fonts/PTSans-Regular.woff2") format(woff2), url("../fonts/PTSans-Regular.woff") format(woff);
}
@font-face {
  font-family: "PT Sans";
  font-weight: 700;
  font-style: normal;
  font-display: swap;
  src: local("PT Sans"), local("PT Sans Bold"), url("../fonts/PTSans-Bold.woff2") format(woff2), url("../fonts/PTSans-Bold.woff") format(woff);
}
*, *::before, *::after {
  box-sizing: border-box;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  position: relative;
  min-height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.header {
  width: 280px;
  margin: 0 auto;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .header {
    width: 708px;
  }
}

.nav {
  position: relative;
}

.nav__mobile, .nav__tablet {
  display: none;
}

@media (max-width: 767px) {
  .nav__mobile {
    display: flex;
  }
}
@media (min-width: 768px) {
  .nav__tablet {
    display: block;
  }
}
.nav__main-link {
  margin-left: 89px;
}

.nav__logo {
  display: block;
}

.nav__button {
  position: relative;
  width: 23px;
  height: 22px;
  margin: 17px 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 1;
}
.nav__button::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 23px;
  height: 4px;
  background-color: #81B3D2;
  box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
}

.nav__button--active {
  position: absolute;
  top: 25px;
  right: 0;
  margin: 0;
}
.nav__button--active::before {
  content: "";
  position: absolute;
  top: 2px;
  right: -3px;
  width: 27px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(45deg);
}
.nav__button--active::after {
  content: "";
  position: absolute;
  top: 2px;
  right: -2px;
  width: 27px;
  height: 3px;
  background-color: #ffffff;
  transform: rotate(-45deg);
}

.nav__mobile .nav__list {
  margin: 0;
  padding: 0;
  display: none;
  list-style-type: none;
}
.nav__mobile .nav__list--active {
  position: absolute;
  top: 0;
  left: -20px;
  width: 320px;
  display: flex;
  flex-direction: column;
}

.nav__mobile .nav__item:not(:first-child) .nav__link {
  box-shadow: 0px -1px 0px 0px rgba(1, 1, 1, 0.2), 0px 1px 0px 0px rgba(255, 255, 255, 0.2) inset;
}

.nav__mobile .nav__link {
  width: 320px;
  padding: 10px 0 5px;
  background-color: #81B3D2;
  display: block;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 40px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__tablet .nav__list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style-type: none;
}

.nav__tablet .nav__item:first-child {
  margin-right: 77px;
}
.nav__tablet .nav__item:nth-child(2) {
  margin-right: 54px;
}
.nav__tablet .nav__item:nth-child(3) {
  margin-right: 54px;
}
.nav__tablet .nav__item:nth-child(4) {
  margin-right: 51px;
}

.nav__tablet .nav__item:nth-child(3) .nav__link {
  align-items: start;
}

.nav__tablet .nav__link {
  height: 56px;
  display: flex;
  align-items: center;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.nav__item--active .nav__link {
  color: #766357;
}

.page__main {
  margin-top: -28px;
}
@media (min-width: 768px) {
  .page__main {
    margin-top: 0;
  }
}

.main__promo {
  min-height: 389px;
  margin-bottom: 32px;
  background: url("../../images/decorative/intro-triangle.svg") no-repeat 0px 332px, url("../../images/decorative/text-index.svg") no-repeat 19px 90px, url("../../images/decorative/background-mountains.png") no-repeat -290px 0px;
}
@media (min-width: 768px) {
  .main__promo {
    min-height: 518px;
    background: url("../../images/decorative/intro-triangle-tablet.svg") no-repeat -216px 461px, url("../../images/decorative/text-index-tablet.svg") no-repeat 152px 77px, url("../../images/decorative/background-mountains-tablet.png") no-repeat;
  }
}

.main__heading {
  margin: 0;
  margin-bottom: 32px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main__heading {
    margin-top: 43.5px;
    font-size: 21px;
  }
}

@media (max-width: 767px) {
  .main__tablet {
    display: none;
  }
}
@media (min-width: 768px) {
  .main__mobile {
    display: none;
  }
}
.main__description {
  margin: 0;
  margin-bottom: 27px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .main__description {
    margin-bottom: 52.5px;
  }
  .main__description br {
    display: none;
  }
}

.main__map-wrapper {
  height: 350px;
  margin-bottom: 38.5px;
}
@media (min-width: 768px) {
  .main__map-wrapper {
    margin-bottom: 36px;
  }
}

.main__map {
  width: 100%;
  height: 350px;
}

.advantage {
  position: relative;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;
}
.advantage br {
  display: none;
}
@media (min-width: 768px) {
  .advantage br {
    display: block;
  }
  .advantage::after {
    content: none;
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantages__list {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }
}

.advantage:last-of-type::after {
  content: none;
}

.advantage--blue {
  margin: 0;
  padding-bottom: 0;
  border: none;
  background-color: #81B3D2;
  color: #ffffff;
}
.advantage--blue::after {
  content: none;
}

.advantage:nth-child(2) {
  padding-bottom: 0;
}
@media (min-width: 768px) {
  .advantage:nth-child(2) {
    grid-column: 1/4;
    grid-row: 2/3;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
}

.advantage:nth-child(2) .advantage__wrapper {
  padding-top: 39px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .advantage:nth-child(2) .advantage__wrapper {
    padding: 43px 36px 41px;
    order: 1;
  }
}

@media (min-width: 768px) {
  .advantage:nth-child(2) .advantage__image {
    width: 512px;
    height: 256px;
    order: 0;
  }
}

.advantage:nth-child(n+3):nth-child(-n+5) {
  padding: 25px 37px;
  background-color: #EEEEEE;
}
@media (min-width: 768px) {
  .advantage:nth-child(n+3):nth-child(-n+5) {
    padding: 42px 38px;
    grid-row: 3/4;
  }
  .advantage:nth-child(n+3):nth-child(-n+5)::after {
    content: none;
  }
}

@media (min-width: 768px) {
  .advantage:nth-child(2) .advantage__number {
    margin-bottom: 24px;
  }
}

.advantage:nth-child(3)::after {
  content: "";
  position: absolute;
  top: 166px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 280px;
  height: 1px;
  margin: auto;
  background-color: #D6D6D6;
}
@media (min-width: 768px) {
  .advantage:nth-child(3) {
    padding: 42px 34px 63px 33px;
    grid-column: 1/2;
  }
}

.advantage:nth-child(4)::after {
  content: "";
  position: absolute;
  top: 166px;
  bottom: 0;
  right: 0;
  left: 0;
  width: 280px;
  height: 1px;
  margin: auto;
  background-color: #D6D6D6;
}
@media (min-width: 768px) {
  .advantage:nth-child(4) {
    padding: 42px 48px 41px 46px;
    grid-column: 2/3;
  }
}

@media (min-width: 768px) {
  .advantage:last-child {
    padding: 42px 40px 42px 41px;
    grid-column: 3/4;
  }
}

.advantage__name {
  margin: 0;
  margin-bottom: 12px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantage__name {
    font-size: 21px;
  }
}

.advantage__number {
  margin: 0;
  margin-bottom: 16px;
  display: block;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .advantage__number {
    margin-bottom: 24px;
  }
}

.advantage__description {
  margin: 0;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.advantage__image {
  display: block;
}

.advantage:first-child {
  margin-bottom: 35px;
  padding: 0;
}
.advantage:first-child::before {
  content: none;
}
@media (min-width: 768px) {
  .advantage:first-child {
    margin-bottom: 0;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 256px);
    grid-template-rows: 256px 330px;
    grid-column: 1/4;
  }
}

.advantage:first-child .advantage__wrapper {
  position: relative;
  padding: 55px 15px 39px;
}
@media (min-width: 768px) {
  .advantage:first-child .advantage__wrapper {
    padding: 40px 32px 44px;
    grid-row: 1/2;
    grid-column: 1/2;
  }
}

.advantage:first-child .advantage__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 320px;
  height: 37px;
  background: transparent url("../../images/decorative/stripe.svg") no-repeat 0 -16px;
}
@media (min-width: 768px) {
  .advantage:first-child .advantage__wrapper::before {
    content: none;
  }
}

@media (min-width: 768px) {
  .advantage:first-child .advantage__description br {
    display: none;
  }
}

@media (min-width: 768px) {
  .advantage:first-child .advantage__image {
    width: 512px;
    height: 256px;
    grid-row: 1/2;
    grid-column: 2/4;
  }
}

.advantage__list {
  margin: 35px 35px 0 69px;
  padding: 0;
  list-style-type: none;
}
@media (min-width: 768px) {
  .advantage__list {
    margin: 0;
    grid-row: 2/3;
    grid-column: 1/4;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
}

.info__item {
  position: relative;
  background-color: #ffffff;
  background-repeat: no-repeat;
}
.info__item:not(:last-child) {
  margin-bottom: 26px;
}
.info__item::before {
  content: "";
  position: absolute;
}
@media (min-width: 768px) {
  .info__item {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .info__item:not(:last-child) {
    margin-bottom: 0;
  }
  .info__item {
    padding: 40px 32px;
    padding-top: 158px;
  }
}
.info__item:first-child::before {
  top: -9px;
  left: -48px;
  width: 39px;
  height: 37px;
  background-image: url("../../images/decorative/home.svg");
}
@media (min-width: 768px) {
  .info__item:first-child {
    order: 0;
  }
  .info__item:first-child::before {
    top: 60px;
    left: 90px;
    width: 75px;
    height: 72px;
    background-image: url("../../images/decorative/icon-house-tablet.svg");
  }
}

.info__item:nth-child(2)::before {
  top: -11px;
  left: -44px;
  width: 32px;
  height: 38px;
  background-image: url("../../images/decorative/souvenirs.svg");
}
@media (min-width: 768px) {
  .info__item:nth-child(2) {
    order: 2;
  }
  .info__item:nth-child(2)::before {
    top: 58px;
    left: 95px;
    width: 64px;
    height: 75px;
    background-image: url("../../images/decorative/icon-gift-tablet.svg");
  }
}

.info__item:last-child::before {
  top: -5px;
  left: -51px;
  width: 40px;
  height: 35px;
  background-image: url("../../images/decorative/food.svg");
}
@media (min-width: 768px) {
  .info__item:last-child {
    padding: 40px 50px;
    padding-top: 158px;
    order: 1;
  }
  .info__item:last-child::before {
    top: 64px;
    left: 89px;
    width: 76px;
    height: 68px;
    background-image: url("../../images/decorative/icon-burger-tablet.svg");
  }
}

.info__heading {
  margin: 0;
  margin-bottom: 16px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #000000;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .info__heading {
    margin-bottom: 23px;
    font-size: 21px;
  }
}

.info__message {
  margin: 0;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  color: #000000;
  text-transform: uppercase;
}

.booking {
  padding: 0 20px;
  padding-top: 33px;
  padding-bottom: 49px;
}
@media (min-width: 768px) {
  .booking {
    padding: 58px 155px;
  }
}

.booking__heading {
  margin: 0;
  margin-bottom: 22px;
  font-family: PT Sans;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .booking__heading {
    margin-bottom: 33px;
    font-size: 30px;
  }
}

.booking__description {
  margin: 0;
  margin-bottom: 27px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
.booking__description br {
  display: none;
}
@media (min-width: 768px) {
  .booking__description {
    margin-bottom: 37px;
  }
  .booking__description br {
    display: block;
  }
}

.booking__link {
  padding: 14.5px 32px 17.5px;
  background-color: #81B3D2;
  display: block;
  font-family: PT Sans;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}

.catalog {
  margin-top: -28px;
}
@media (min-width: 768px) {
  .catalog {
    margin-top: 0;
  }
}

.catalog__promo {
  min-height: 158px;
  margin-bottom: 32px;
  background: url("../../images/decorative/intro-triangle.svg") no-repeat 0px 102px, url("../../images/decorative/sedona-mobile.svg") no-repeat 45px 52px, url("../../images/decorative/back-catalog.jpg") no-repeat 0 -56px;
}
@media (min-width: 768px) {
  .catalog__promo {
    min-height: 291px;
    margin-bottom: 62px;
    background: url("../../images/decorative/intro-triangle-tablet.svg") no-repeat -216px 233px, url("../../images/decorative/sedona-tablet.svg") no-repeat 157px 95px, url("../../images/decorative/background-mountains-tablet.png") no-repeat 0px -228px;
  }
}

.catalog__heading {
  margin: 0;
  margin-bottom: 28px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog__heading {
    font-size: 30px;
    margin-bottom: 34px;
  }
}

.catalog__description {
  margin: 0 20px;
  margin-bottom: 31px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .catalog__description {
    margin: 0 170px;
    margin-bottom: 55px;
  }
}

.photos {
  margin: 0;
  margin-bottom: 32px;
  padding: 0;
  padding-top: 22px;
  border-bottom: 1px solid #E5E5E5;
  border-top: 1px solid #E5E5E5;
  list-style-type: none;
}
@media (min-width: 768px) {
  .photos {
    margin: 0 60px;
    margin-bottom: 59px;
    border: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
}

.photo {
  position: relative;
  padding: 0 20px;
  padding-bottom: 16px;
  border-bottom: 1px solid #E5E5E5;
}
@media (min-width: 768px) {
  .photo {
    padding: 0;
    border: none;
  }
}

.photo:not(:first-child) {
  padding-top: 22px;
}
@media (min-width: 768px) {
  .photo:not(:first-child) {
    padding: 0;
    border: none;
  }
}

.photo__wrapper {
  background: url("../../images/decorative/like.svg") no-repeat 0 59px;
}
@media (min-width: 768px) {
  .photo__wrapper {
    display: grid;
    padding: 16px 20px;
    padding-right: 29px;
    background: #F2F2F2 url("../../images/decorative/like.svg") no-repeat 239px 28px;
  }
}

@media (min-width: 768px) {
  .photo:first-child {
    grid-column: 1/3;
  }
}

@media (min-width: 768px) {
  .photo:first-child .photo__image {
    min-width: 648px;
    min-height: 400px;
  }
}

@media (min-width: 768px) {
  .photo:first-child .photo__wrapper {
    padding-right: 20px;
    background: #F2F2F2 url("../../images/decorative/like.svg") no-repeat 564px 28px;
  }
}

@media (min-width: 768px) {
  .photo:nth-child(3) .photo__wrapper {
    padding-right: 36px;
    background-color: #EAEAEA;
  }
}

@media (min-width: 768px) {
  .photo .photo__image {
    min-width: 324px;
    height: 267px;
    margin: 0;
  }
}

.photo__image {
  display: block;
  margin-bottom: 11px;
}

.photo__name {
  margin: 0;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .photo__name {
    margin-bottom: 0;
  }
}

.photo__author {
  margin: 0;
  margin-bottom: 13px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
@media (min-width: 768px) {
  .photo__author {
    grid-column: 1/2;
    margin-bottom: 0;
  }
}

.photo__likes {
  position: relative;
  margin-left: 37px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
}
@media (min-width: 768px) {
  .photo__likes {
    margin-left: 0;
    padding-left: 32px;
    grid-column: 2/3;
    grid-row: 1/3;
    align-self: center;
    justify-self: end;
  }
}

.video {
  margin-bottom: 76px;
}

.video__heading {
  margin: 0;
  margin-bottom: 28px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .video__heading {
    font-size: 30px;
    margin-bottom: 31px;
  }
}

.video__text {
  margin: 0;
  margin-bottom: 33px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .video__text {
    margin-bottom: 80px;
    padding: 0 155px;
  }
  .video__text br {
    display: none;
  }
}

.video__control {
  position: relative;
}

@media (min-width: 768px) {
  .video__control {
    margin: 0 60px;
  }
}

.control {
  position: relative;
}

.control__time-button {
  position: absolute;
  top: 18px;
  left: 58px;
  width: 9px;
  height: 9px;
  padding: 0;
  border: none;
  border-radius: 50%;
  background-color: #ffffff;
}
@media (min-width: 768px) {
  .control__time-button {
    top: -3px;
    left: 113px;
  }
}

.control__img {
  position: relative;
  display: block;
}
@media (min-width: 768px) {
  .control__img {
    min-width: 648px;
    min-height: 500px;
  }
}

.control__panel {
  margin: 0 20px;
  margin-top: -2px;
  padding: 16px 13px;
  padding-bottom: 13px;
  display: flex;
  background-color: #F2F2F2;
}

.control__button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.control__button--replay {
  margin-right: 115px;
}
@media (min-width: 768px) {
  .control__button--replay {
    margin-right: 38px;
  }
}

.control__button--subtitles {
  margin-right: auto;
}
@media (min-width: 768px) {
  .control__button--subtitles {
    margin-right: 23px;
  }
}

.control__mobile {
  display: none;
}
@media (max-width: 767px) {
  .control__mobile {
    display: block;
  }
}

.control__mobile .control__time {
  position: absolute;
  bottom: 67px;
  right: 20px;
  display: flex;
  align-items: center;
  width: 280px;
  height: 45px;
  background-color: rgba(0, 0, 0, 0.6);
}

.control__mobile .control__bar {
  position: absolute;
  left: 23px;
  width: 235px;
  height: 3px;
  background-color: rgba(255, 255, 255, 0.2);
}

.control__desktop {
  position: absolute;
  bottom: 0;
  width: 648px;
  height: 93px;
  padding-left: 27px;
  padding-right: 41px;
  display: none;
  background-color: rgba(0, 0, 0, 0.6);
}
@media (min-width: 768px) {
  .control__desktop {
    display: flex;
    align-items: center;
  }
}

.control__desktop .control__time {
  position: relative;
  display: flex;
  margin-right: 36px;
}

.control__desktop .control__bar {
  display: block;
  background-color: rgba(255, 255, 255, 0.2);
}
@media (min-width: 768px) {
  .control__desktop .control__bar {
    width: 389px;
    height: 3px;
  }
}

.form {
  position: relative;
  width: 280px;
  margin: 20px auto 74px;
}
@media (min-width: 768px) {
  .form {
    width: 648px;
    margin-bottom: 97px;
  }
}

.form-page {
  margin-top: -28px;
}
@media (min-width: 768px) {
  .form-page {
    margin-top: 0;
  }
}

.form-page__promo {
  width: 320px;
  min-height: 158px;
  margin: 0 auto;
  margin-bottom: 36px;
  background: url("../../images/decorative/intro-triangle.svg") no-repeat 0px 102px, url("../../images/decorative/sedona-mobile.svg") no-repeat 45px 52px, url("../../images/decorative/back-catalog.jpg") no-repeat 0 -56px;
}
@media (min-width: 768px) {
  .form-page__promo {
    width: 768px;
    min-height: 291px;
    margin-bottom: 62px;
    background: url("../../images/decorative/intro-triangle-tablet.svg") no-repeat -216px 233px, url("../../images/decorative/sedona-tablet.svg") no-repeat 157px 95px, url("../../images/decorative/background-mountains-tablet.png") no-repeat 0px -228px;
  }
}

.form-page__heading {
  margin: 0;
  margin-bottom: 29px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-page__heading {
    margin-bottom: 32px;
    font-size: 30px;
  }
}

.form-page__description {
  margin: 0;
  padding-bottom: 16px;
  border-bottom: 1px solid #E5E5E5;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form-page__description {
    margin: 0 162px 87px;
    padding: 0;
    border: none;
  }
}

@media (min-width: 768px) {
  .form__wrapper {
    position: relative;
    margin-bottom: 10px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 73px;
  }
  .form__wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    width: 1px;
    height: 292px;
    background-color: #DBDBDB;
  }
}

@media (min-width: 768px) {
  .form__container {
    display: flex;
    align-items: baseline;
  }
}

.form__submit-button {
  min-width: 280px;
  padding: 18.5px 0 13.5px;
  border: none;
  background-color: #81B3D2;
  font-family: PT Sans;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .form__submit-button {
    min-width: 324px;
    margin-right: auto;
  }
}

.form__info {
  display: none;
}
@media (min-width: 768px) {
  .form__info {
    display: inline-block;
    margin-left: 160px;
    font-family: PT Sans;
    font-size: 14px;
    font-weight: 400;
    line-height: 26px;
    text-transform: uppercase;
  }
}

.fieldset {
  position: relative;
  margin: 0;
  margin-bottom: 46px;
  padding: 0;
  border: none;
}
.fieldset::after {
  content: "";
  position: absolute;
  bottom: -28px;
  right: -20px;
  width: 320px;
  height: 1px;
  background-color: #E5E5E5;
}
@media (min-width: 768px) {
  .fieldset {
    margin-bottom: 0;
  }
  .fieldset::after {
    width: 100%;
    top: -37px;
    right: 0;
    z-index: -1;
  }
}

.fieldset__legend {
  margin-bottom: 19px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .fieldset__legend {
    margin-bottom: 54px;
    font-size: 21px;
    text-align: left;
  }
}

.fieldset__list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.fieldset__wrapper {
  display: flex;
  flex-direction: column;
}

.fieldset__item:not(:last-child) {
  margin-bottom: 20px;
}

.field {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.field__span {
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-transform: uppercase;
}

.field__input {
  width: 100%;
  padding: 18px 0 14px 22px;
  border: none;
  background-color: #F2F2F2;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
.field__input::placeholder {
  color: #000000;
}

@media (min-width: 768px) {
  .fieldset--fullname {
    margin-left: 58px;
    grid-column: 2/3;
    grid-row: 1/2;
  }
  .fieldset--fullname::after {
    content: none;
  }
}

.fieldset--fullname .field {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 15px;
  align-items: center;
}

.fieldset--contacts {
  margin-bottom: 49px;
}
@media (min-width: 768px) {
  .fieldset--contacts {
    margin-bottom: 0px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.fieldset--contacts .fieldset__legend {
  margin-bottom: 17px;
}
@media (min-width: 768px) {
  .fieldset--contacts .fieldset__legend {
    position: relative;
    z-index: 0;
    margin-bottom: 20px;
    padding: 0px 60px;
    background-color: white;
    text-align: center;
  }
}

.fieldset--contacts .fieldset__item:not(:last-child) {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .fieldset--contacts .fieldset__item:not(:last-child) {
    margin-bottom: 25px;
  }
}

.fieldset--contacts .fieldset__wrapper {
  position: relative;
}
.fieldset--contacts .fieldset__wrapper::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  width: 58px;
  height: 58px;
  background-color: #e6e6e6;
  background-repeat: no-repeat;
  background-position: center;
}

.fieldset--contacts .fieldset__item:first-child .fieldset__wrapper::after {
  background-image: url("../../../images/decorative/phone.svg");
}

.fieldset--contacts .fieldset__item:nth-child(2) .fieldset__wrapper::after {
  background-image: url("../../../images/decorative/mail.svg");
}

.fieldset--contacts .field {
  margin-left: 22px;
  margin-bottom: 8px;
  display: block;
}
@media (min-width: 768px) {
  .fieldset--contacts .field {
    margin-bottom: 8px;
  }
}

.fieldset--contacts .fieldset__item:nth-child(2) .field {
  margin-bottom: 5px;
}
@media (min-width: 768px) {
  .fieldset--contacts .fieldset__item:nth-child(2) .field {
    margin-bottom: 5px;
  }
}

.fieldset--contacts .field__input:not(:last-child) {
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .fieldset--impression {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .fieldset--impression::after {
    content: none;
  }
}

@media (min-width: 768px) {
  .fieldset--impression .fieldset__legend {
    margin-left: 0px;
  }
}

.fieldset--impression .field {
  position: relative;
  display: flex;
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.fieldset--impression .fieldset__item:not(:last-child) {
  margin-bottom: 14px;
}
@media (min-width: 768px) {
  .fieldset--impression .fieldset__item:not(:last-child) {
    margin-bottom: 24px;
  }
}

.fieldset--impression .field__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.fieldset--impression .field__name {
  margin-top: 17px;
  margin-left: 15px;
  order: 1;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
}
@media (min-width: 768px) {
  .fieldset--impression .field__name {
    margin-left: 12px;
  }
}

.fieldset--impression .field__span {
  order: 0;
}

.fieldset--impression .field__span {
  position: relative;
  top: 2px;
  left: -8px;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fieldset--impression .field__span::before {
  content: "";
  position: absolute;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #333333;
  opacity: 0;
}

.fieldset--impression .field__input:checked ~ .field__span::before {
  opacity: 1;
}

@media (min-width: 768px) {
  .fieldset--visits {
    margin-bottom: 70px;
  }
  .fieldset--visits::after {
    top: -68px;
  }
}

@media (min-width: 768px) {
  .fieldset--visits .fieldset__list {
    margin: 0 95px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 63px;
    row-gap: 33px;
  }
}

.fieldset--visits .fieldset__item:not(:last-child) {
  margin-bottom: 24px;
}
@media (min-width: 768px) {
  .fieldset--visits .fieldset__item:not(:last-child) {
    margin-bottom: 0;
  }
}

.fieldset--visits .field {
  position: relative;
  display: flex;
  font-family: PT Sans;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

@media (min-width: 768px) {
  .fieldset--visits .fieldset__legend {
    position: relative;
    margin-bottom: 42px;
    padding: 0px 64px;
    background-color: white;
    text-align: center;
    z-index: 0;
  }
}

.fieldset--visits .field__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.fieldset--visits .field__name {
  margin-top: 17px;
  margin-left: 15px;
  order: 1;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;
}
@media (min-width: 768px) {
  .fieldset--visits .field__name {
    margin-left: 18px;
  }
}

.fieldset--visits .field__span {
  order: 0;
}

.fieldset--visits .field__span {
  position: relative;
  top: 2px;
  left: -8px;
  width: 56px;
  height: 56px;
  background-color: #F2F2F2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.fieldset--visits .field__span::before {
  content: "";
  position: absolute;
  width: 24px;
  height: 17px;
  background: url("../../../images/decorative/tick.svg") no-repeat;
  opacity: 0;
}

.fieldset--visits .field__input:checked ~ .field__span::before {
  opacity: 1;
}

@media (min-width: 768px) {
  .fieldset--visits .fieldset__item:last-child .field__name {
    margin-left: 13px;
  }
}

.fieldset--emotions::after {
  content: none;
}
@media (min-width: 768px) {
  .fieldset--emotions {
    margin-bottom: 50px;
  }
  .fieldset--emotions::after {
    content: "";
    top: -71px;
  }
}

.fieldset--emotions .fieldset__legend {
  margin-bottom: 15px;
}
@media (min-width: 768px) {
  .fieldset--emotions .fieldset__legend {
    position: relative;
    margin-bottom: 55px;
    padding: 0px 76px;
    background-color: white;
    text-align: center;
    z-index: 0;
  }
}

.fieldset--emotions .field__input {
  min-width: 280px;
  min-height: 160px;
  padding: 13px 23px 0 21px;
  border: none;
  background-color: #F2F2F2;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  resize: none;
}
@media (min-width: 768px) {
  .fieldset--emotions .field__input {
    min-width: 648px;
    min-height: 160px;
    padding: 18px 23px 0 21px;
  }
}

.modal {
  position: fixed;
  width: 100%;
  height: 100%;
  display: none;
}
.modal--active {
  display: block;
}

.modal__container {
  width: 320px;
  margin: 0 auto;
  margin-top: 116px;
  background-color: #ffffff;
  box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.1490196078);
}

.modal__heading {
  margin: 0;
  margin-bottom: 27px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal__heading {
    font-size: 30px;
    margin-bottom: 31px;
  }
}

.modal__description {
  margin: 0;
  margin-bottom: 39px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal__description {
    margin-bottom: 43px;
    padding: 0;
  }
}

.modal__button-wrapper {
  background-color: #F2F2F2;
  padding: 20px 0;
}
@media (min-width: 768px) {
  .modal__button-wrapper {
    padding: 44px 91px;
  }
}

.modal__button {
  min-height: 58px;
  margin: 0;
  background-color: #81B3D2;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  color: #ffffff;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .modal__button {
    font-size: 21px;
  }
}

.modal--success .modal__container {
  padding-top: 38px;
  padding-bottom: 20px;
}
@media (min-width: 768px) {
  .modal--success .modal__container {
    width: 640px;
    box-shadow: 0px 7px 15px 0px rgba(0, 1, 1, 0.1490196078);
    padding-top: 55px;
    padding-bottom: 0;
  }
}

.modal--success .modal__description {
  padding: 0 32px;
}
@media (min-width: 768px) {
  .modal--success .modal__description {
    margin-bottom: 43px;
    padding: 0 37px;
  }
}

.modal--success .modal__button {
  margin: 0 20px;
}
@media (min-width: 768px) {
  .modal--success .modal__button {
    margin: 0;
  }
}

.modal--error .modal__container {
  padding-top: 40px;
  padding-bottom: 35px;
}
@media (min-width: 768px) {
  .modal--error .modal__container {
    width: 400px;
    padding-top: 52px;
    padding-bottom: 49px;
  }
}

.modal--error .modal__heading br {
  display: none;
}
@media (min-width: 768px) {
  .modal--error .modal__heading {
    margin-bottom: 24px;
    font-size: 30px;
    line-height: 40px;
  }
  .modal--error .modal__heading br {
    display: block;
  }
}

.modal--error .modal__description {
  padding: 0 41px;
  margin-bottom: 22px;
}
@media (min-width: 768px) {
  .modal--error .modal__description {
    margin-bottom: 38px;
    padding: 0 37px;
  }
}

.modal--error .modal__button {
  margin: 0 70px;
}
@media (min-width: 768px) {
  .modal--error .modal__button {
    margin: 0 64px;
  }
}

.footer {
  margin-top: auto;
}
@media (min-width: 768px) {
  .footer {
    display: flex;
    align-items: baseline;
  }
}

.footer__heading {
  margin-bottom: 33.5px;
  display: block;
  font-family: PT Sans;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}
@media (min-width: 768px) {
  .footer__heading {
    margin-right: auto;
    margin-left: 60px;
  }
}

.socials {
  margin: 0;
  margin-bottom: 40px;
  padding: 0;
  display: flex;
  justify-content: center;
  list-style-type: none;
}
.socials__item:not(:last-child) {
  margin-right: 6px;
}

.socials__link {
  width: 46px;
  height: 48px;
  background-color: #81B3D2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  text-decoration: none;
}
@media (min-width: 768px) {
  .copyright {
    margin-right: 60px;
    margin-left: 122px;
  }
}

.copyright__text {
  margin-right: 12px;
  display: inline-block;
  color: #000000;
  text-transform: uppercase;
}
/*# sourceMappingURL=styles.css.map */