.fieldset--contacts {
  margin-bottom: 49px;

  @media (min-width: $tablet) {
    margin-bottom: 0px;
    grid-column: 1/3;
    grid-row: 2/3;
  }
}

.fieldset--contacts .fieldset__legend {
  margin-bottom: 17px;

  @media (min-width: $tablet) {
    position: relative;
    margin-bottom: 21px;
    padding: 0px 60px;
    background-color: white;
    text-align: center;
    z-index: 0;
  }

  @media (min-width: $desktop) {
    margin-bottom: 71.5px;
  }
}

.fieldset--contacts .fieldset__list {
  @media (min-width: $desktop) {
    display: flex;
  }
}

.fieldset--contacts .fieldset__item {
  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 25px;
    }
  }

  @media (min-width: $desktop) {
    display: grid;
    grid-template-columns: max-content 315px;
    align-items: center;

    &:not(:last-child) {
      margin-right: 79px;
      margin-bottom: 0;
    }
  }
}

.fieldset--contacts .fieldset__wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 58px;
    height: 58px;
    background-color: #e6e6e6;
    background-repeat: no-repeat;
    background-position: center;
  }
}

.fieldset--contacts .fieldset__item:first-child .fieldset__wrapper::after{
  background-image: url("../../../images/decorative/phone.svg");
}

.fieldset--contacts .fieldset__item:nth-child(2) .fieldset__wrapper::after{
  background-image: url("../../../images/decorative/mail.svg");
}

.fieldset--contacts .field {
  margin-left: 22px;
  margin-bottom: 8px;
  display: block;

  @media (min-width: $tablet) {
    margin-bottom: 8px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 17px;
  }
}

.fieldset--contacts .field__word {
  @media (min-width: $desktop) {
    display: none;
  }
}

.fieldset--contacts .fieldset__item:nth-child(2) .field {
  margin-bottom: 5px;

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.fieldset--contacts .field__input {
  &:not(:last-child) {
    margin-bottom: 16px;
  }
}
