.fieldset--emotions {
  padding-bottom: 47px;
}

.fieldset--emotions .fieldset__input {
  min-width: 280px;
  min-height: 160px;
  padding: 13px 23px 0 21px;
  border: none;
  background-color: #F2F2F2;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
