@import '../_variables.scss';

.header {
  width: 280px;
  margin: 0 auto;
  background-color: $white;

  @media (min-width: $tablet) {
    width: 708px;
    margin-left: 48px;
    margin-right: 6px;
  }
}
