.nav {
  position: relative;
}

.nav__burger-menu, .nav__menu {
  display: none;
}

.nav__main-link {
  margin-left: 89px;
}

.nav__logo {
  display: block;

  @media (min-width: $desktop) {
    width: 187px;
    height: 97px;
  }
}

.nav__button {
  position: relative;
  width: 23px;
  height: 22px;
  margin: 17px 0;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 1;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 23px;
    height: 4px;
    background-color: #81B3D2;
    box-shadow: 0 9px 0 0 #81B3D2, 0 18px 0 0 #81B3D2;
  }
}

.nav__button--active {
  position: absolute;
  top: 25px;
  right: 0;
  margin: 0;

  &::before {
    content: "";
    position: absolute;
    top: 2px;
    right: -3px;
    width: 27px;
    height: 3px;
    background-color: $white;
    transform: rotate(45deg);
  }

  &::after {
    content: "";
    position: absolute;
    top: 2px;
    right: -2px;
    width: 27px;
    height: 3px;
    background-color: $white;
    transform: rotate(-45deg);
  }
}

