.fieldset--fullname {
  @media (min-width: $tablet) {
    margin-left: 58px;
    grid-column: 2/3;
    grid-row: 1/2;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop) {
    margin-left: 79px;
  }
}

.fieldset--fullname .field {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 15px;
  align-items: center;
}
