.fieldset--impression {
  margin-bottom: 43px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
    grid-column: 1/2;
    grid-row: 1/2;

    &::after {
      content: none;
    }
  }

  @media (min-width: $desktop) {
    margin-left: 4px;
  }
}

.fieldset--impression .fieldset__legend {
  @media (min-width: $desktop) {
    margin-left: 74px;
  }
}

.fieldset--impression .field {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.fieldset--impression .fieldset__item {
  &:not(:last-child) {
    margin-bottom: 14px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 22px;
    }
  }
}

.fieldset--impression .field__input {
  width: 0;
  height: 0;
  opacity: 0;
}

.fieldset--impression .field__name {
  margin-left: 15px;
  order: 1;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: left;
  text-transform: none;

  @media (min-width: $tablet) {
    margin-left: 12px;
  }
}

.fieldset--impression .field__span {
  position: relative;
  top: 2px;
  left: -8px;
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 0;

  &::before {
    content: "";
    position: absolute;
    width: 22px;
    height: 22px;
    border-radius: 50%;
    background-color: #333333;
    opacity: 0;
  }
}

.fieldset--impression .field__input:checked ~ .field__span::before {
  opacity: 1;
}

.fieldset--impression .field__input:focus-visible ~ .field__span {
  outline: 2px solid $black;
}
