.fieldset--visits {
  @media (min-width: $tablet) {
    margin-bottom: 70px;

    &::after {
      top: -68px;
    }
  }

  @media (min-width: $desktop) {
    margin-bottom: 68px;
  }
}

.fieldset--visits .fieldset__list {
  @media (min-width: $tablet) {
    margin: 0 95px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 63px;
    row-gap: 33px;
  }

  @media (min-width: $desktop) {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    gap: 0;
  }
}

.fieldset--visits .fieldset__item {
  &:not(:last-child) {
    margin-bottom: 24px;
  }

  @media (min-width: $tablet) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    &:not(:last-child) {
      margin-right: 69px;
    }
  }
}

.fieldset--visits .field {
  position: relative;
  display: flex;
  align-items: center;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 700;
  line-height: 26px;
}

.fieldset--visits .fieldset__legend {
  @media (min-width: $tablet) {
    position: relative;
    margin-bottom: 43px;
    padding: 0 64px;
    background-color: $white;
    text-align: center;
    z-index: 0;
  }
}

.fieldset--visits .field__input {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
}

.fieldset--visits .field__name {
  margin-left: 24px;
  order: 1;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-transform: none;
}

.fieldset--visits .field__span {
  position: relative;
  width: 56px;
  height: 56px;
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  order: 0;

  &::before {
    content: "";
    position: absolute;
    top: 19px;
    right: 15px;
    width: 24px;
    height: 17px;
    background: url("../../../images/decorative/tick.svg") no-repeat;
    opacity: 0;
  }
}

.fieldset--visits .field__input:checked ~ .field__span::before {
  opacity: 1;
}

.fieldset--visits .fieldset__item:last-child .field__name {
  @media (min-width: $tablet) {
    margin-left: 20px;
  }

  @media (min-width: $desktop) {
    margin-left: 24px;
  }
}
