.control__desktop {
  position: absolute;
  bottom: 0;
  width: 648px;
  height: 93px;
  padding-left: 27px;
  padding-right: 41px;
  display: none;
  background-color: rgba($color: $black, $alpha: 0.6);

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;
  }
}

.control__desktop .control__time {
  position: relative;
  display: flex;
  margin-right: 36px;
}

.control__desktop .control__bar {
  display: block;
  background-color: rgba($color: $white, $alpha: 0.2);

  @media (min-width: $tablet) {
    width: 389px;
    height: 3px;
  }
}
