.advantage:first-child {
  margin-bottom: 35px;
  padding: 0;

  &::before {
    content: none;
  }

  @media (min-width: $tablet) {
    margin-bottom: 0;
    padding-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(256px, max-content) minmax(330px, max-content);
    grid-column: 1/4;
  }
}

.advantage:first-child .advantage__wrapper {
  position: relative;
  padding: 55px 15px 39px;

  @media (min-width: $tablet) {
    padding: 40px 32px 44px;
    grid-row: 1 / 2;
    grid-column: 1 / 2;
  }

  @media (min-width: $desktop) {
    padding: 47px 55px 44px;
  }
}


.advantage:first-child .advantage__wrapper::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  width: 320px;
  height: 37px;
  margin: 0 auto;
  background: url("../../../images/decorative/white-stripe.svg") no-repeat 50% -16px;

  @media (min-width: $tablet) {
    content: none;
  }
}


.advantage:first-child .advantage__description {
  @media (min-width: $tablet) {
    br {
      display: none;
    }
  }
}
