.advantage {
  position: relative;
  padding-bottom: 26px;
  display: flex;
  flex-direction: column;

  br {
    display: none;
  }

  @media (min-width: $tablet) {
    br {
      display: block;
    }

    &::after {
      content: none;
    }
  }
}

.advantages__list {
  margin: 0;
  padding: 0;
  list-style-type: none;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: repeat(3, 256px);
  }
}

.advantage:last-of-type {
  &::after {
    content: none;
  }
}

.advantage--blue {
  margin: 0;
  padding-bottom: 0;
  border: none;
  background-color: #81B3D2;
  color: $white;

  &::after {
    content: none;
  }
}

.advantage:nth-child(2) {
  padding-bottom: 0;

  @media (min-width: $tablet) {
    grid-column: 1/4;
    grid-row: 2/3;
    padding: 0;
    display: flex;
    flex-direction: row;
  }
}

.advantage:nth-child(2) .advantage__wrapper {
  padding-top: 39px;
  padding-bottom: 35px;

  @media (min-width: $tablet) {
    padding: 43px 36px 41px;
    order: 1;
  }
}

.advantage:nth-child(2) .advantage__image {
  @media (min-width: $tablet) {
    width: 512px;
    height: 256px;
    order: 0;
  }
}

.advantage:nth-child(n+3):nth-child(-n+5) {
  padding: 25px 37px;
  background-color: #EEEEEE;

  @media (min-width: $tablet) {
    padding: 42px 38px;
    grid-row: 3/4;

    &::after {
      content: none;
    }
  }
}

.advantage:nth-child(2) .advantage__number {
  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.advantage:nth-child(3) {
    &::after {
    content: "";
    position: absolute;
    top: 166px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 280px;
    height: 1px;
    margin: auto;
    background-color: #D6D6D6;
  }

  @media (min-width: $tablet) {
    padding: 42px 34px 63px 33px;
    grid-column: 1/2;
  }
}

.advantage:nth-child(4) {
    &::after {
    content: "";
    position: absolute;
    top: 166px;
    bottom: 0;
    right: 0;
    left: 0;
    width: 280px;
    height: 1px;
    margin: auto;
    background-color: #D6D6D6;
  }

  @media (min-width: $tablet) {
    padding: 42px 48px 41px 46px;
    grid-column: 2/3;
  }
}

.advantage:last-child {
  @media (min-width: $tablet) {
    padding: 42px 40px 42px 41px;
    grid-column: 3/4;
  }
}


.advantage__name {
  margin: 0;
  margin-bottom: 12px;
  font-family: PT Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 21px;
  }
}

.advantage__number {
  margin: 0;
  margin-bottom: 16px;
  display: block;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-bottom: 24px;
  }
}

.advantage__description {
  margin: 0;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
}

.advantage__image {
  display: block;
}
