.booking {
  margin: 0 20px;
  margin-top: 33px;
  margin-bottom: 49px;
}

.booking__heading {
  margin: 0;
  margin-bottom: 22px;
  font-family: PT Sans;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  text-transform: uppercase;
}

.booking__description {
  margin-bottom: 27px;
  font-family: PT Sans;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;
}

.booking__link {
  padding: 14.5px 32px 17.5px;
  background-color: #81B3D2;
  display: block;
  font-family: PT Sans;
  font-size: 21px;
  font-weight: 700;
  line-height: 26px;
  color: $white;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
}
